/*-- micro-clearfix by Nicolas Gallagher*--*/
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/*** For IE 6/7 only*/
.cf {
    *zoom: 1;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
    color: blue;
}

p {
    text-align: center;
    font-family: sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

#midten {
    background-color: lightgrey;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.addcontact {
    padding: 15px;
    border-radius: 9px;
    background: black;
    width: 130px;
    float: left;
}

.editcontact {
    padding: 15px;
    border-radius: 9px;
    background: black;
    width: 130px;
    float: left;
    margin-right: 40px;

}

.searchcontact {
    padding: 15px;
    border-radius: 9px;
    background: black;
    width: 130px;
    float: left;
}

.viewcontact {
    padding: 15px;
    border-radius: 9px;
    background: black;
    width: 130px;
    float: left;
    margin-right: 40px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    height: 10px;
    line-height: 10px;
}

div {
    text-align: center;
}

.editsearch {
    margin-left: 41%;
    margin-top: 40px;
}

.viewadd {
    margin-left: 41%;
    margin-top: 40px;
}